@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #121417;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {

}

    .card {
        background-color: #232d37;
        border-radius: 1rem;
        max-width: 400px;
        min-height: 400px;
        padding: 2rem;
        display: flex;
        justify-content: space-around;
        box-shadow: 0px 2px 20px rgb(12, 25, 44, 0.5);
        gap: 1rem;
        margin: 1rem;
    }

.card .rating {
    /* display: none; */
}

.card .rating .star {
    background-color: #303a46;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card.thank-you {
    align-items: center;
    text-align: center;
    transition: opacity 0.3s ease-in;
}

.head {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

.content {
    color: #959eac;
    line-height: 1.5rem;
}

.rating-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.rating-number {
    background-color: #303a46;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #959eac;
    cursor: pointer;
}

.rating-number:hover {
    background-color: #fb7413;
    color: #fff;
}

.rating-number.selected-number {
    background-color: #7c8798;
    color: #fff;
}

.submit {
    font-family: inherit;
    background-color: #fb7413;
    border: none;
    padding: 1rem;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.submit:active {
    transform: scale(0.9);
}

.submit:hover {
    background-color: white;
    color: #fb7413;
}

.card.hide {
    display: none;
}